.col-md-6 img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
  padding: 10px;

}
.col-md-12 img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
  padding: 10px;

}

 #bluebg {
    color: #41f4d0;
    background-color: #f441d0;


}

h2{
  
}


#greenbg {
    color: #59f442;
    background-color: #f47641;

}
